<ion-view view-title="Dashboard">
<ion-nav-title>
    <form ng-submit="getData()">
<div class="bar bar-header item-input-inset headers">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" placeholder="Search"  class="input" name="q"  id= "city">
  </label>
</div>
</form>
</ion-nav-title>
 <ion-header-bar class="bar-subheader bar-assertive">
  <div class="button-bar">
            <button id="page2-button10" class="button button-positive  button-block">Feeds</button>
            <button id="page2-button11" class="button button-positive  button-block">Media</button>
        </div>             
  </ion-header-bar>
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <div ng-repeat="data in datas">
    <img src="{{data.imgUrl}}">
    <p>{{data.tweet}}</p>
    <!-- <img src="{{data.media}}"> -->
    </div>
  </ion-content>
</ion-view>
