/* Empty. Add your own CSS if you like */
ion-content{
	background-color: #E0E0E0;
}

.container{
	background-color: #E0E0E0;
}
.headers{
  padding-bottom: 25%;
}
.namesize{
  font-family: Helvetica Neue;
  font-size: 80%;
  text-align: justify;
  white-space:normal !important;
  }
  .paddingcontent{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}
.border{
  height: 80%;
  width: 80%;
  border-bottom: groove;
  border-top: solid;
  border-left: groove;
  border-right:groove;
  border-color: blue;
 
}
.divclass{
	padding-bottom: 5px;
}
.subfont1{
  color: white;
  font-weight: bold;
}
.subfont2{
  color: white;
  font-weight: bold;
  border-color: blue;
  border-left:  groove;
}
